@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  App{
    @apply flex items-center justify-center min-h-screen bg-gray-50
  }
  .btn {
    @apply flex gap-2 items-center justify-center py-2 px-4 font-semibold shadow-md rounded-lg
  }
  .btn.btn-light {
    @apply bg-white text-gray-500
  }
  .btn.btn-danger {
    @apply text-gray-500 bg-red-600 shadow-red-400/40
  }
  .modal {
    @apply fixed top-0 left-0 w-full h-full bg-gray-400/75 overflow-hidden overflow-y-auto z-50
  }
  .modal-wrapper {
    @apply absolute top-0 left-0 flex justify-center items-center w-full min-h-full
  }
  .modal-content {
    @apply relative m-5 w-max p-8 rounded-2xl bg-[#182237] translate-y-[-50px] transition-opacity ease-in duration-300
  }
  .modal-close-button {
    @apply absolute top-9 right-6 w-[30px] h-[30px] p-0 bg-transparent
  }
}

#root {
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151c2c;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}